@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

.section-01 {
    background-color: #eee;
    padding: 160px 0;
}

.section-01 .inner {
    max-width: 1440px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.section-01 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
}

.section-01 .inner .item_wrap > div {
    /* 702/1440 * 100 */
    width: 48.75%;
    height: 546px;
}

.section-01 .inner .item_wrap .item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-01 .inner .item_wrap .item-right .item {
    height: 255px;
}

.section-01 .inner .item_wrap .item-right .item .text {
    top: 40px;
    left: 40px;
}

.section-01 .inner .item_wrap .item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.section-01 .inner .item_wrap .item .image {
    height: 100%;
}

.section-01 .inner .item_wrap .item .image img {
    width: 100%;
    height: 100%;;
    object-fit: cover;
}

.section-01 .inner .item_wrap .item .text {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #fff;
}

.section-01 .inner .item_wrap .item .text h3 {
    font-size: 32px;
}

.section-01 .inner .item_wrap .item .text p {
    margin-top: 10px;
    font-size: 18px;
}

.section-02 {
    background-color: #eee;
    padding: 160px 0;
    margin-top: 160px;
}

.section-02 .inner {
    max-width: 1440px;
    width: calc(100% - 24px);
    margin: 0 auto;
}

.section-02 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 36px;
}

.section-02 .inner .item_wrap .title {
    width: 100%;
}

.section-02 .inner .item_wrap .item {
    width: 23.12%;
    position: relative;
}

.section-02 .inner .item_wrap .item .image {
    max-height: 512px;
    height: 78.12vw;
    padding-bottom: 100%;
    position: relative;
}

.section-02 .inner .item_wrap .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.section-02 .inner .item_wrap .item .text span{
    font-size: 14px;
}

.section-02 .inner .item_wrap .item .text .main {
    font-size: 20px;
}

.section-02 .inner .item_wrap .item .text .price {
    font-size: 25;
}

.category {
    padding: 160px 0;
}

.category ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.category li .image {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    overflow: hidden;
}

.category li .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category li p {
    text-align: center;
}

@media screen and (max-width:768px) {
    .section-01 .inner .item_wrap {
        flex-direction: column;
        gap: 30px;
    }

    .section-01 .inner .item_wrap > div {
        width: 100%;
        height: auto;
    }

    .section-01 .inner .item_wrap .item-left {
       /* max-height: 551px; */
        height: 77.82vw;
    }

    .section-01 .inner .item_wrap .item-right {
        gap: 30px;
    }

    .section-01 .inner .item_wrap .item-right .item {
        height: 262px;
    }

    .section-02 .inner .item_wrap {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .section-02 .inner .item_wrap .item {
        width: 47.39%;
    }

    .section-02 .inner .item_wrap .item .image {
        max-height: 437px;
        height: 56.9vw;
    }

    .category {
        gap: 24px;
    }

    .category li {
        width: 27.73%;
    }

    .category li .image {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        position: relative;
    }

    .category li .image img {
        position: absolute;
        top: 0;
        left: 0;
    }
}